

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


  * {
    font-family: 'Lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }
  .btn-primary{
  border-radius: 48px;
   background: hsl(0, 0%, 100%);
  }
  .btn-primary{
    border-radius: 48px;
background: #4EC5F7;
  }

  header{
    background:  #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);;
    padding:60px 130px;
  }
  
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul {
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li{
    text-decoration: none;
    color: #3C354F;
}
 

/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}